.search-block-item .bp3-breadcrumb {
    font-size: 12px ;
}

.search-block-item .bp3-collapse-list.bp3-breadcrumbs{
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}


.search-block-item .bp3-collapse-list.bp3-breadcrumbs li{
    display: inline-flex;
}

.search-block-item .bp3-collapse-list.bp3-breadcrumbs li span{
    max-width: 140px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}


.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-flex;
}

.ellipsis span {
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
}
.ellipsis-to-left {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
}


.block-bg .bp3-menu-item{
  padding: 5px 2px;
}

.block-bg.bp3-menu {
  padding: 0px 2px 2px;
}
.block-bg .bp3-button{
  margin: 2px 0px;
}


.bp3-intent-primary.block-highlight-blue {
  background-color: #7cccff;
}

.bp3-intent-success.block-highlight-blue {
  background-color: #7cccff;
}

.bp3-intent-warning.block-highlight-blue {
  background-color: #7cccff;
}

.bp3-intent-danger.block-highlight-blue {
  background-color: #7cccff;
}